<!--base template-->
<html>
	<head>
		<!--set title and default title-->
		{% if title %}
		<title>{{ title }} - CISC3140</title>
		{% else %}
		<title>Welcome to CISC3140 HW</title>
		{% endif %}
	</head>
	<body>
		<!--navigation bar-->
		<div>
			<a href="{{ url_for('index') }}">Home</a>
		 	<a href="{{ url_for('about') }}">About</a>
		 	<a href="{{ url_for('nasarequest') }}">NasaData</a>
		 </div>
		<hr>
		<!--display flash messages if exists-->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		<!--display page html-->
		{% block content %}{% endblock %}
	</body>
</html>