<!--use base template-->
{% extends "base.html" %}

{% block content %}
<!--form for api key-->
<p>Nasa has a lot of information that is accessable via their APIs. Here are three of the most interesting options! Choose which API you want to look at after inputting your API key.</p>
<form action="" method="post" novalidate>
	{{ form.hidden_tag() }}
	<p>
		<label for="inputAPIKey">{{ form.apikey.label}}</label>
		<!--<input id="inputAPIKey" class="form-control" aria-describedby="passwordHelpBlock">-->
			{{ form.apikey(class="form-control")}}
		<small id="passwordHelpBlock" class="form-text text-muted">
		  The API key must be a valid NASA API key or DEMO_KEY
		</small></p>
	</p>
	<!--form submit button display-->
	<p>API 1: Check out Nasa's Picture of the day! {{ form.apod(class="btn btn-primary") }}</p>
	<p>API 2: Have a look at Mars Rover Pictures from a random day! {{ form.rover(class="btn btn-primary") }}</p>
	<p>API 3: Take a peek at what our planet looked like, one year ago, today! {{ form.epic(class="btn btn-primary") }}</p>
	
</form>

{% endblock %}