<!--use base template-->
{% extends "base.html" %}

{% block content %}
<!--form for api key-->
<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			<!--form input display-->
			{{ form.apikey.label }}<br>
			{{ form.apikey(size=64) }}<br>
		</p>
		<!--form submit button display-->
		<p>Check out Nasa's Picture of the day! {{ form.apod() }}</p>
		<p>Have a look at Mars Rover Pictures from a random day! {{ form.rover() }}</p>
		<p>Take a peek at what our planet looked like, one year ago, today! {{ form.epic() }}</p>
		
		
	</form>

{% endblock %}